;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[com.rpl/specter "1.1.6"]]

 :builds
 ; https://github.com/thheller/shadow-cljs/issues/902#:~:text=This%20fixed%20the,host%20false%7D
 {:background {:devtools {:use-document-host false}
               :modules {:background {:init-fn background/init}}
               :output-dir "public/js"
               :target :esm}}}
